[Unit]
Description=This service run once when device startup

[Service]
Type=simple
User=faewulf
ExecStart=$HOME/.faewulf/startup/launch.sh

[Install]
WantedBy=default.target
